#include "resources.h"
#include "winres.h"

IDR_RCDATA1 RCDATA "dll\\flashdll.dll"
IDR_RCDATA2 RCDATA "..\\RenaissancePatch\\build\\bin\\RenaissancePatch.dll"
IDB_BITMAP1 BITMAP "Assets\\patcher_bg.bmp"

IDI_ICON1 ICON "Assets\\ren128.ico"
